.basis {
    display: flex;
    flex-direction: column;
    height: 800px;
    margin: 100px auto;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.945);
    position: fixed;
    opacity: 0;
    z-index: 0;
    top: 0;
    pointer-events: none;
    box-shadow: 12px 12px 12px 12px rgba(211, 206, 189, 0.2);

    &.active{
        position: relative;
        opacity: 100;
        z-index: 1;
        pointer-events: auto;
    }
}